*
        {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body
        {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #e8ffe8;
        }
        .tree
        {
            position: relative;
            top: -100px;
            width: 300px;
            height: 300px;
            transform-style: preserve-3d;
            transform: rotateX(-20deg) rotateY(30deg);
            animation: animate 6s  linear infinite;
        }
        .tree::before
        {
            content:'🌟';
            position: absolute;
            top: -111px;
            left: calc(50% - 40px);
            font-size: 4em;
        }
        @keyframes animate
        {
            0%
            {
                transform: rotateX(-20deg) rotateY(360deg);
            }
            100%
            {
                transform: rotateX(-20deg) rotateY(0deg);
            }
        }
        .tree div
        {
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transform: translateY(calc(100px * var(--j)));
        }
        .tree div.top span
        {
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg,#69c069,#77dd77);
            clip-path: polygon(50% 0%,0% 100%,100% 100%);
            transform-origin: bottom;
            border-bottom: 10px solid #00000019;
            transform: rotateY(calc(90deg * var(--i)))  rotateX(30deg) translateZ(173px);
        }
        .tree div.bottom span
        {
            position: absolute;
            top: 350px;
            left:calc(50% - 30px);
            width: 60px;
            height: 100%;
            background: linear-gradient(90deg,#bb4622,#df7214);
            /* clip-path: polygon(50% 0%,0% 100%,100% 100%); */
            transform-origin: bottom;
            border-bottom: 10px solid #00000055;
            transform: rotateY(calc(90deg * var(--i))) translateZ(30px);
        }
        .shadow
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 300px;
            background: #0002;
            transform-style: preserve-3d;
            transform: rotateX(90deg) translateZ(-500px);
            filter: blur(20px);
        }